<!DOCTYPE html>
<html>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <h2>Staff Details</h2>

    <table style="width: 100%">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Salary</th>
      </tr>
      <tr th:object="${staff}">
        <td th:text="*{staffName}"></td>
        <td th:text="*{staffTitle}"></td>
        <td>
          <p th:if="*{staffSalary < 8000}">if</p>
          <p th:unless="*{staffSalary < 8000}">unless</p>
          <p th:text="*{staffSalary < 8000 ? 'true' : 'false'}"></p>
        </td>
      </tr>
    </table>

    <div th:switch="${staff.staffName}">
      <p th:case="'John Doe'">Hello John Doe</p>
      <p th:case="*">Who are you?</p>
    </div>
  </body>
</html>
